body {
  background-image: url("/static/Imagens/sneakers.jpg");
  font-family: calibri, Helvetica, sans-serif;
}

input, textarea {
    padding: 5px 15px;
}
input[type=text], input[type=password] {
    width: 256px;
}

moeda {
  display: block;
  color: #1C1;
  font-weight: bold;
}

shop {
  display: block;
  font-size: lem;
  color: #C11;
  margin-top: 16px;
  margin-bottom: 16px;
}


fieldset {
  width: 256px;
  padding: 50px;
  background-color: lightgray;
  border: 2px groove;
}


table, td {
  background-color: #635f5f;
  border: 30px solid #635f5f;
  border-collapse: collapse;
}

td {
  background-color: white;
  text-align: center;
  padding: 30px 10px;
  width: 300px;
  vertical-align: bottom;

}

.navbar {
  width: 60%;
  background-color: black;
  overflow: auto;
  border-radius: 25px;
  float: center;
}

.a1, .active {
  float: left;
  padding: 20px;
  color: white;
  text-decoration: none;
  font-size: 17 px;
}

.a2 {
  float: right;
  padding: 19px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.a1:hover {
  background-color: grey;
}

.active {
  color: white;
}

.active:hover {
  background-color: grey;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

img {
    width: 150px;
}

.bazar-img {
  float: left;
  width: 160px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #262626;
  color: white;
  text-align: center;
}

.icons {
   padding: 30px 30px;
}

.marker i {
    background-color: #222;
    padding: 12px;
    border-radius: 100%;
}

.email p {
    display: inline-block;
    padding: 10px;
}

.marker p {
    display: inline-block;
    padding: 10px;
}

.info {
    padding: 50px 100px;
}


.info-title {
    letter-spacing: 1px;
    font-size: 20px;
    text-transform: uppercase;
}

.info-content {
    background-color: #222;
    padding: 10px;
    font-size: 15px;
    line-height: 25px;
    width: 400px;
}

.info div {
    display: flex;
    font-size: 30px;
}

.info div div {
    padding: 0px 30px 0px 0px; /* 0 = cima \\ 30 = direita \\ 0 = baixo \\ 0 = esquerda */
}

.info div i {
    background-color: #222;
    padding: 8px;
    color: white;
    border-radius: 10px;
}

